@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9fafb;
}


.bg-cover {
  background-image: url('https://fsn1.your-objectstorage.com/nev/new-dawn/29cc911599d44d2b80a1f9177af7302f.jpg');
}

@font-face {
  font-family: 'trirong_reg';
  src: url('./assets/fonts/Trirong/Trirong-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'trirong_bold';
  src: url('./assets/fonts/Trirong/Trirong-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'trirong_light';
  src: url('./assets/fonts/Trirong/Trirong-Light.ttf') format('truetype');
}